<!DOCTYPE html>
<html>
  <head>
    <title>ProductsModel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Создание нового инфо-блока         ', new_products_info_path %>
    <%= link_to 'Создание нового пользователя         ', new_products_user_path %>
    <%= link_to 'Создание нового продукта         ', new_products_path   %>
    <br />
    <%= flash.alert%>
    <%= yield %>
  </body>
</html>
